.app{
    width: 300px;
    height: 300px;
    background-color: #fffffe;
    border: 2px solid black;
    border-radius: 50%;

    position: relative;

    img{
        border-radius: 50%;
        width: 300px;
    }

    .h{
        position: absolute;
    }


    .sec{
        transform-origin: right;
        height: 2px;
        width: 120px;
        background-color: #5db9b9;
        top: 150px;
        left: 30px;
    }

    .min{
        transform-origin: right;
        height: 3px;
        width: 90px;
        background-color: black;
        top: 150px;
        left: 60px;
    }

    .hour{
        transform-origin: right;
        height: 5px;
        width: 80px;
        background-color: #ffd803;
        top: 150px;
        left: 70px;
    }

    .dot{
        position: absolute;
        transform-origin: center;
        top: 145px;
        left: 145px;
        width: 10px;
        height: 10px;
        background-color: #bae8e8;
        border-radius: 50%;
    }
}